@media screen and (max-width: 1220px) {
  .about .grid {
    grid-auto-flow: row;
    row-gap: 2rem;
    grid-template-rows: 300px 400px;
    grid-template-columns: none;
    justify-content: center;
  }
}

.about {
  scroll-margin-top: 6rem;
}
