@media screen and (max-width: 1220px) {
  .about .grid {
    grid-auto-flow: row;
    row-gap: 2rem;
    grid-template-rows: 400px 400px;
    grid-template-columns: none;
    justify-content: center;
  }
}

.about {
  scroll-margin-top: 6rem;
}

@media screen and(max-width:700px) {
  .about {
    scroll-margin-top: none;
  }
}
